
.quotes {
    text-align: center;
    padding: 2px;
    background-color: white;
    margin-top: 0px;
}

article {
    display: flex;
    justify-content: space-evenly;
}
.location {

    margin-top: 15px;
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
    background-color: white;
    margin: 5px;
}

article p {
    margin: 4px;
}
